 body{
background:url(img/pexels-marcelo-jaboo-696407.jpg);
background-size: cover;
}

.container{
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    margin-top: 70px;
}




footer{
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}

@media(max-width:567px){
    body{
    background-size: auto;
}
}

/* @media(max-width:567px){
    footer{
        /* margin-top: 350px; */
    
/* }  */ 